<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="menu-icon" aria-label="icon-button with menu icon">
      <mat-icon aria-hidden="false" aria-label="menu" fontIcon="menu">menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <span>f1-stats</span>
  </mat-toolbar-row>
</mat-toolbar>

<div id="main">

  <div *ngIf="retrievedSeasons?.length">
    <select id="season_select" [(ngModel)]="season" (change)="selectSeason()" mdbInput> 
      <option *ngFor="let season of retrievedSeasons" size="100" [ngValue]="season">{{season.season}}</option>
    </select>
  </div>

  <div *ngIf="retrievedRoundsForSeason?.length">
    <select id="circuit_select" [(ngModel)]="circuit" (change)="selectRound()" mdbInput> 
      <option *ngFor="let circuit of retrievedRoundsForSeason" size="100" [ngValue]="circuit">{{circuit.circuitId}}: {{circuit.circuitName}}</option>
    </select>
  </div>

  <h1 *ngIf="!isSeasonRoundDataSuccess">Loading . . . </h1>

  <div *ngIf="circuitData?.length">
    <h2>Circuit Overview</h2>
    <div id="circuits">
      <h2>{{retrivedSeasonRoundData[0].season}} #{{retrivedSeasonRoundData[0].round}}: <a href="{{retrivedSeasonRoundData[0].url}}">{{retrivedSeasonRoundData[0].raceName}}</a></h2>
      <p>{{retrivedSeasonRoundData[0].date}} --- {{retrivedSeasonRoundData[0].time}}</p>
      <p><a href="{{circuitData.circuitUrl}}">{{circuitData.circuitName}} ({{circuitData.circuitId}}), {{circuitData.Location.locality}}, {{circuitData.Location.country}}</a></p>
      <p>{{circuitData.Location.lat}}, {{circuitData.Location.long}}</p>
    </div>
  </div>

  <div *ngIf="raceResults?.length">
    <h2>Driver Standings</h2>
    <div id="results">
      <span *ngFor="let result of retrivedSeasonRoundData[0].Results">
        <f1-card [cardData]="result"></f1-card>
      </span>
    </div>
  </div>

</div>