<f1-header></f1-header>

<div id="main">

  <div *ngIf="retrievedSeasons?.length">
    <h4>Please select a Year, and a Circuit</h4>
    <mat-form-field>
      <mat-label>Seasons</mat-label>
      <select matNativeControl (change)="selectSeason($event)">
        @for (option of retrievedSeasons; track option) {
          <option [value]="option.season" [selected]="selectedSeason === option.season">{{ option.season }}</option>
        }
      </select>
    </mat-form-field>
    <div *ngIf="retrievedRoundsForSeason?.length">
      <mat-form-field>
        <mat-label>Rounds (Circuits)</mat-label>
        <select matNativeControl (change)="selectRound($event)">
          @for (option of retrievedRoundsForSeason; track option) {
            <option [value]="option.circuitId" [selected]="selectedRound === option.circuitId">{{ option.circuitId }}: {{ option.circuitName }}</option>
          }
        </select>
      </mat-form-field>
    </div>
  </div>

  <!-- If time, would add a spinner -->
  <h1 *ngIf="!isSeasonRoundDataSuccess">Loading . . . </h1>

  <div *ngIf="circuitData?.length">
    <h2>Circuit Overview</h2>
    <div id="circuits">
      <h2>{{retrivedSeasonRoundData[0].season}} #{{retrivedSeasonRoundData[0].round}}: <a href="{{retrivedSeasonRoundData[0].url}}">{{retrivedSeasonRoundData[0].raceName}}</a></h2>
      <p>{{retrivedSeasonRoundData[0].date}} --- {{retrivedSeasonRoundData[0].time}}</p>
      <p><a href="{{circuitData.circuitUrl}}">{{circuitData.circuitName}} ({{circuitData.circuitId}}), {{circuitData.Location.locality}}, {{circuitData.Location.country}}</a></p>
      <p>{{circuitData.Location.lat}}, {{circuitData.Location.long}}</p>
    </div>
  </div>

  <div *ngIf="raceResults?.length">
    <h2>Driver Standings</h2>
    <div id="results">
      <span *ngFor="let result of retrivedSeasonRoundData[0].Results">
        <f1-card [cardData]="result"></f1-card>
      </span>
    </div>
  </div>

</div>